.main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    /* background-color: var(--color--cookie); */
    background-image: linear-gradient(180deg, var(--color--cookie), rgb(252, 168, 42));

    padding: 10px;
}

.landing--title {
    margin-bottom: 8px;

    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: white;
}

.landing--button {
    padding: 5px 16px;
    cursor: pointer;

    border: 1px transparent;
    border-radius: 25px;

    background-color: var(--color--chocolate);
    /* background-image: linear-gradient(360deg, rgb(255,255,255), rgb(255, 243, 210)); */

    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 700;
    color: var(--color--milk);

}

.landing--button:hover {
    border: 1px transparent;
    color: var(--color--chocolate);
    background-color: var(--color--milk);
}

.main--notebook {
    color: aliceblue;
}

.split {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100dvh;
    background-color: var(--color--cookie);
}

.sidebar--header {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;

    flex-wrap: wrap;
    row-gap: 10px;
}

.header--title {
    margin: 0;

    cursor: default;

    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--color--chocolate);
}

.header--button {
    padding: 6px 10px;

    border: 1px transparent;
    border-radius: 5px;

    background-color: var(--color--chocolate);
    cursor: pointer;

    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 500;
    color: var(--color--milk);
}

.header--button:hover{
    border: 1px transparent;
    color: var(--color--chocolate);
    background-color: var(--color--milk);
}

.sidebar--notecard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0;

    width: 100%;
    min-height: 45px;
    padding: 8px 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

.notecard--title {
    margin: 0;
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;

    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.notecard--button {
    /* cursor: pointer;
    color: var(--color--chocolate);
    background: transparent;
    border: transparent; */
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar--notecard:hover > .notecard--button {
    display: block;
    padding: 5px
}

.light{
    color: var(--color--milk);
    /* background-color: var(--color--cookie); */
    background-image: linear-gradient(180deg, var(--color--cookie), rgb(255, 174, 53));
}
.dark {
    color: var(--color--milk);
    background-color: var(--color--chocolate);
}

.pane {

    overflow-y: auto;
    width: 80%;
    height: 100vh;
}

.gutter {
    background-color: var(--color--chocolate);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
    cursor: col-resize;
}

.react-mde {
    border: 0;
}

.mde-header {
    background-color: var(--color--cookie);
}

.mde-tabs > button{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 600;
    color: var(--color--chocolate);
}

.mde-tabs > button:hover{
    border: 1px hidden;
    border-radius: 5px;
    color: var(--color--milk);
    background-color: var(--color--chocolate);
}

.mde-header .mde-tabs button.selected {
    border: 1px transparent; 
    border-radius: 5px;
    color: var(--color--milk);
    background-color: var(--color--chocolate);
}

.mde-header-item > button > svg{
    color: var(--color--chocolate);
}

.mde-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 500;
    color: var(--color--chocolate);
    background-color: antiquewhite;
}

.mde-preview{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 500;
    color: var(--color--milk);
    background-color: var(--color--chocolate);
}