* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

:root {
    --color--chocolate: rgb(54, 31, 4);
    --color--milk: rgb(245, 245, 245);
    --color--cookie: rgb(255, 188, 87);
}